<launch>

<rosparam file="$(find (Unsaved)_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="(Unsaved)" args="J1_position_controller J2_position_controller J3_position_controller J4_position_controller W1_position_controller W2_position_controller W3_position_controller W4_position_controller ACTJ2 1_position_controller ACTJ2 2_position_controller ACTJ2 3_position_controller ACTJ2 4_position_controller AJ1_position_controller A1_position_controller A2_position_controller A3_position_controller A4_position_controller A5_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/(Unsaved)/joint_states"/>
</node>

</launch>